@import "../../fonts/stylesheet.css";

#recipe_page{
    background: white;
    color: black;
    width: 100%;
}

h1 {
    color: black;
    font-family: Radley;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
}

.hashtag{
    color: #AAAAAA;
    font-family: "Ramabhadra";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 38px;
    text-align: left;
    letter-spacing: 0.01em;
}

/* #container{
    padding:0px 50px;
    margin: 0;
    width: 100%;
    max-width: 100%;
} */

.time{
    font-family: "Ramabhadra";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3D3D3D;
}

.text{
    color: black;
    font-family: "Radley";
    font-size: 18px;
    font-style: normal;
}

.description{
    text-align: left;
}

.tag{
    color:  black;
    opacity: .6;
}

#outlined{
    color: black;
    font-family: "Raleway";
    text-transform: lowercase;
    font-size: 15px;
    font-style: normal;
    border: 1px solid #19B47C;
    box-sizing: border-box;
    border-radius: 45px;
    margin-top: 6%;    
}


.post{
    position: absolute;
    width: 1046px;
    height: 700px;
    left: 219px;
    top: 152px;
}


.actions{
    position: absolute;
    width: 1025px;
    height: 150px;
    left: 219px;
    top: 863px;
}

.reviews{
    position: absolute;
    width: 1025px;
    height: 1000px;
    left: 219px;
    top: 990px;

}

