@import "../../fonts/stylesheet.css";

#recipe_page{
    background: white;
    background-repeat: no-repeat;
    color: black;
    width: 100%;
}

.review{
    background: #ECECEC;
    border-radius: 18px;
    width: 506px;
    height: 126px;
}

h1 {
    color: black;
    font-family: "Radley";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
}

h2 {
    color: #6F6F6F;
    font-family: "Radley";
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;
    letter-spacing: 0.02em;
    text-align: left;
}

.hashtag{
    color: #AAAAAA;
    font-family: "Ramabhadra";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 38px;
    text-align: left;
    letter-spacing: 0.01em;
}

#save{
    background: #03030366;
    opacity: .6;
    font-family: "Raleway";
    color: white;
    text-transform: lowercase;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    border-radius: 45px;
    margin-top: 6%;    
}

.time{
    font-family: "Ramabhadra";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3D3D3D;
}

.text{
    color: black;
    font-family: "Radley";
    font-size: 18px;
    font-style: normal;
}

.description{
    text-align: left;
}

.ingredients{
    text-align: center;
}

.tag{
    color:  black;
    opacity: .6;
}

#outlined{
    color: black;
    font-family: "Raleway";
    text-transform: lowercase;
    font-size: 15px;
    font-style: normal;
    border: 1px solid #19B47C;
    box-sizing: border-box;
    border-radius: 45px;
    margin-top: 6%;    
}

#leave_review{
    color: black;
    font-family: "Raleway";
    text-transform: lowercase;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 45px;
    margin-top: 6%;    
}

.post{
    position: absolute;
    width: 1046px;
    height: 700px;
    left: 219px;
    top: 152px;
}

.reviews{
   padding-top: 11%;

}

.rating{
    padding-top: 5%;
    padding-left: 80%;
}

.review_text{
    font-family: "Radley";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #6F6F6F;
}
