@import "../../../fonts/stylesheet.css";

h1 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}


body {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}
.pic_button{
    padding-left: 30%;
}

.tagtext{
    padding-top: 10%;
}

.tagformat{
    padding-left: 20%;
    padding-right: 20%;
}