@import "../../fonts/stylesheet.css";

.center{
    padding-left: 50%;
}

.title{
    color: #1DE19B;
    font-family: "Raleway";
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    position: center;
    line-height: 47px;
    display: inline-block;
}

.appbar-grid{
    width: 100%;
}

#btn{
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    color: black;
    text-transform: none;
    display: inline-block;
}

