@import "../fonts/stylesheet.css";

.cards {
  padding: 1rem;
  max-width: 100%;
}

h1 {
  font-family: "Raleway";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
}

.cards__container {
  display: flex;
  flex-flow: column;

  /* new
  flex-direction: row;
  flex-wrap: wrap; */

  align-items: center;
  max-width: 80%;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  /* position: relative;
  margin: 5px 0 5px; */
  margin: 2rem;
  display: grid;
  gap: 1rem;
  /* grid-template-columns: 1fr;
  justify-content: center; */
}

.cards__items {
  margin-bottom: 5px;
  max-width: 100%;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  min-width: 150px;
  min-height: 150px;
  border-radius: 10px;
  max-width: 75%;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.cards__item__img {
  background-color: rgb(245, 245, 245);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.cards__item__info {
  background: #f6f6f6;
  padding: 0px 5px 5px;
  min-width: 200px;
  min-height: 100px;
}

.cards__item__text {
  color: #252e48;
  font-size: 16px;
  line-height: 20px;
}

.recipe_header {
  background-color: white;
  font-family: "Raleway";
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.hashtags {
  font-family: "Ramabhadra";
  color: #aaaaaa;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.01em;
  text-align: left;
}

.recipe_title {
  font-family: "Raleway";
  color: #3d3d3d;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
}

#outlined {
  font-family: "Raleway";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
  border: 1px solid #19b47c;
  box-sizing: border-box;
  border-radius: 45px;
  margin-top: 6%;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: inline;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
