@import "../fonts/stylesheet.css";

.title{
    color: #1DE19B;
    font-family: "Raleway";
    font-size: 35px;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    line-height: 47px;
    display: inline-block;
}

.appbar-grid{
    width: 100%;
}

#login-btn{
    background-color: white;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    color: black;
    text-transform: none;
}

#signup-btn{
    background-color: white;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    color: black;
    text-transform: none;
}

